<div class="container">
  <div class="row">
    <h3>商品新規登録</h3>
  </div>

  <div class="row">
    <div class="col-md">
      <%= form_with model: @item, url: admin_items_path do |f| %>
      <h4>商品画像 <%= f.file_field :image, accept: "image/*" %></h4>
      <h4>商品名 <%= f.text_field :name %> </h4>
      <h4>商品説明 <%= f.text_area :introduction %></h4>
      <h4>税抜価格 <%= f.text_field :price %> 円</h4>
      <%= f.submit "新規登録", :class => "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
