<div class="container">
  <div class="row">
    <h3>商品詳細</h3>
  </div>

  <div class="row">
    <div class="col-md">
      <%= image_tag @item.image %>
    </div>
    <div class="col-md">
      <h4>商品名<%= @item.name %></h4>
      <h4>商品説明<%= @item.introduction %></h4>
      <h4>税込価格(税抜価格)<%= @item.price %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <%= link_to "編集する", edit_admin_item_path, :class => "btn btn-success" %>
    </div>
  </div>
</div>
