<div class="container">
  <div class="row justify-content-left">
    <font size="5">
      <P>商品一覧</P>
    </font>
  </div>

  <div class="row justify-content-center">
    <% @items.each do |item| %>
    <div class="col-md-4 offset-md-1">
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, size: "150x150" %>
      <% end %></br>
      <%= item.name %></br>
      <%= item.price %>
    </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>